<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title>Manuscripta.se: A Digital Catalogue of Manuscripts in Sweden</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.5/css/theme.bootstrap_3.min.css" integrity="sha256-cerl+DYHeG2ZhV/9iueb8E+s7rubli1gsnKuMbKDvho=" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.5/css/jquery.tablesorter.pager.min.css" integrity="sha256-Db4i5PtehZw8eZMRwYlQ/ugoW3FORsqcn/ZWrlK2L4w=" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/starter-template.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>        
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div id="header" class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
<!--                    <img class="beta-image" src="https://www.manuscripta.se/beta.png" alt="beta"/>-->
                    <a class="navbar-brand" href="/">Home</a>
                </div>
                <div class="collapse navbar-collapse">                    
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/browse/manuscripts">All manuscripts</a>
                                </li>
                                <li>
                                    <a href="/browse/manuscripts/greek">Greek manuscripts</a>
                                </li>
                                <li>
                                    <a href="/browse/manuscripts/swedish">Old Swedish manuscripts</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Digitizations <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/mirador_greek">Greek Manuscripts</a>
                                </li>
                                <li>
                                    <a href="/mirador_ttt">Old Swedish Manuscripts</a>
                                </li>                                
                            </ul>
                        </li>
                        <li>
                            <a href="/search">Search</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/greek">Greek manuscripts</a>
                                </li>
                                <li>
                                    <a href="/swedish">Old Swedish manuscripts</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>                        
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container -->
        </nav>
        
        <div id="content" class="container-fluid"/>
        
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.5/js/jquery.tablesorter.min.js" integrity="sha256-qW1prHl/Pkqu4uMxFepBr/umy73wqs47F8ubIqK0w1A=" crossorigin="anonymous"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.5/js/jquery.tablesorter.widgets.min.js" integrity="sha256-FLqkOiW9slo+v9XYvuv733VRVQdyCGres0oNhFah454=" crossorigin="anonymous"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.5/js/extras/jquery.tablesorter.pager.min.js" integrity="sha256-GEOAUtPueDbpdxe9Rtm6DSMLKi8DcQru5rAbO65dv3c=" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"/>
        <script>
            <![CDATA[  
            $( document ).ready(function() {
                    $('[data-toggle="tooltip"]').tooltip({'placement': 'left'});
                });
            $(document).ready(function(){
                    $('[data-toggle="popover"]').popover({placement : 'top'});
                });
            $(function() {
  
                // call the tablesorter plugin and apply the uitheme widget
                $("table").tablesorter({
                
                  // this will apply the bootstrap theme if "uitheme" widget is included
                  // the widgetOptions.uitheme is no longer required to be set
                  theme : "bootstrap",
              
                  widthFixed: true,
              
                  headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
              
                  // widget code contained in the jquery.tablesorter.widgets.js file
                  // use the zebra stripe widget if you plan on hiding any rows (filter widget)
                  widgets : [ "uitheme", "filter", "columns", "zebra" ],
              
                  widgetOptions : {
                    // using the default zebra striping class name, so it actually isn't included in the theme variable above
                    // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
                    zebra : ["even", "odd"],
              
                    // class names added to columns when sorted
                    columns: [ "primary", "secondary", "tertiary" ],
              
                          // set the uitheme widget to use the bootstrap theme class names
                    // this is no longer required, if theme is set
                    // ,uitheme : "bootstrap"
                    
                    // extra css class applied to the table row containing the filters & the inputs within that row
                    filter_cssFilter   : 'form-control',
              
                    // If there are child rows in the table (rows with class name from "cssChildRow" option)
                    // and this option is true and a match is found anywhere in the child row, then it will make that row
                    // visible; default is false
                    filter_childRows   : false,
              
                    // if true, filters are collapsed initially, but can be revealed by hovering over the grey bar immediately
                    // below the header row. Additionally, tabbing through the document will open the filter row when an input gets focus
                    filter_hideFilters : false,
              
                    // Set this option to false to make the searches case sensitive
                    filter_ignoreCase  : true,
              
                    // jQuery selector string of an element used to reset the filters
                    filter_reset : '.reset',
              
                    // Use the $.tablesorter.storage utility to save the most recent filters
                    filter_saveFilters : false,
              
                    // Delay in milliseconds before the filter widget starts searching; This option prevents searching for
                    // every character while typing and should make searching large tables faster.
                    filter_searchDelay : 300,
              
                    // Set this option to true to use the filter to find text from the start of the column
                    // So typing in "a" will find "albert" but not "frank", both have a's; default is false
                    filter_startsWith  : false,
              
                    // Add select box to 4th column (zero-based index)
                    // each option has an associated function that returns a boolean
                    // function variables:
                    // e = exact text from cell
                    // n = normalized value returned by the column parser
                    // f = search filter input value
                    // i = column index
                    
                    
                    filter_functions : {
              
                      // Add select menu to this column
                      // set the column value to true, and/or add "filter-select" class name to header
                      //'.repository' : true,        
                      
                      // Exact match only
                      
                      
                    }      
                  
                  }
                })
                .tablesorterPager({
              
                  // target the pager markup - see the HTML block below
                  container: $(".ts-pager"),
              
                  // target the pager page select dropdown - choose a page
                  cssGoto  : ".pagenum",
              
                  // remove rows from the table to speed up the sort of large tables.
                  // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
                  removeRows: false,
              
                  // output string - default is '{page}/{totalPages}';
                  // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
                  output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'
              
                });
              
              });
        ]]>
        </script>
    </body>
</html>