<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Greek Manuscripts in Sweden</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>        
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/starter-template.css"/>        
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28500306-1', 'auto');
  ga('send', 'pageview');
        </script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">            
            <div class="container-fluid">
                <div id="header" class="navbar-header">                    
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                    <img class="beta-image" src="../beta.png" alt="beta"/>
                    <a class="navbar-brand" href="/">Home</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/browse/manuscripts">Manuscripts</a>
                                </li>
                                <li>
                                    <a href="/browse/authors">Authors and Works</a>
                                </li>
                                <li>
                                    <a href="/browse/incipits">Incipits</a>
                                </li>
                                <li>
                                    <a href="/browse/scribes">Scribes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/search">Search</a>
                        </li>
                        <!--<li>
                            <a href="/beta_search.html">Beta Search</a>
                        </li>
                        <li>
                            <a href="/beta_search_2.html">Beta Search 2</a>
                        </li>-->
                        <li>
                            <a href="/bibliography">Bibliography</a>
                        </li>
                        <li>
                            <a href="/guidelines">Guidelines</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>                    
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container -->
        </nav>

        <div id="content" class="container-fluid"/>

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"/>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"/>        
        <script type="text/javascript">
                $( document ).ready(function() {
                    $('[data-toggle="tooltip"]').tooltip({'placement': 'left'});
                });
                $(document).ready(function(){
                    $('[data-toggle="popover"]').popover({placement : 'top'});
                });
        </script>
    </body>
</html>