<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manuscripta.se: En digital katalog över handskrifter i Sverige</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="../resources/images/favicon.ico"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="../resources/css/starter-template.css"/>
<!--        <link rel="stylesheet" type="text/css" href="resources/scripts/diva/css/diva.min.css"/>-->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/diva.js/5.1.2/css/diva.min.css" integrity="sha256-vvkaRBeJAn6YiQpEIg5eV+rat2PZfu1iWZoLhM8/4Uw=" crossorigin="anonymous"/>-->
        <link rel="stylesheet" type="text/css" href="../resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/scripts/mirador/css/mirador-combined.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/scripts/mirador/MultiPageNavigation/multiPageNavigation.css"/>        
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div id="header" class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                    <img class="beta-image" src="../beta.png" alt="beta"/>
                    <a class="navbar-brand" href="/sv">Hem</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Samlingar <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/grekiska">Grekiska handskrifter</a>
                                </li>
                                <li>
                                    <a href="/fornsvenska">Fornsvenska handskrifter</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bläddra <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/bladdra/handskrifter">Handskrifter</a>
                                </li>
                                <li>
                                    <a href="/bladdra/forfattare">Författare och verk</a>
                                </li>
                                <li>
                                    <a href="/bladdra/incipit">Incipit</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Digitaliseringar<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/mirador_greek">Grekiska handskrifter</a>
                                </li>
                                <li>
                                    <a href="/mirador_ttt">Fornsvenska handskrifter</a>
                                </li>                                
                            </ul>
                        </li>
                        <li>
                            <a href="/sok">Sök</a>
                        </li>
                        <!--<li>
                            <a href="/guidelines">Riktlinjer</a>
                        </li>-->
                        <li>
                            <a href="/kontakt">Kontakt</a>
                        </li>
                        <li>
                            <a href="/">In English</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container -->
        </nav>
        
        <div id="content" class="container-fluid"/>
        
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"/>
        <script src="../resources/scripts/mirador/mirador.min.js"/>
<!--        <script type="text/javascript" src="resources/scripts/diva/js/diva.min.js"/>-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/diva.js/5.1.2/js/diva.min.js" integrity="sha256-nR8sOg/mUX/vWvYKcZlJMULT9YyZFAYwsw2tDvEvqzs=" crossorigin="anonymous"/>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.2.0/split.min.js" integrity="sha256-FSGFHqVQdKn0B1bd5fy3yN3qa6iJ4MrRdJ5SviQ9Q7g=" crossorigin="anonymous"/>
<!--        <script type="text/javascript" src="resources/scripts/viewer.js"/>-->
        <script type="text/javascript" src="../resources/scripts/viewer_2.js"/>
        <script type="text/javascript" src="../resources/scripts/mirador/MultiPageNavigation/multiPageNavigation.js"/>
        
        
        <!--<script type="text/javascript">
                       
                $(document).ready(function() {
                    $('[data-toggle="tooltip"]').tooltip({'placement': 'left'});
                });
                $(document).ready(function(){
                    $('[data-toggle="popover"]').popover({placement : 'top'});
                });                
        </script>-->
    </body>
</html>